.git
.github
.pytest_cache
.vscode
./build
./dist
env
screenshots
.dockerignore
.editorconfig
.flake8
.flitignore
.gitignore
.hadolint.yaml
.markdownlint.yaml
__pycache__
Dockerfile
Makefile
node_modules
sonar-project.properties