.git
.github
.pytest_cache
.vscode
build
dist
env
.dockerignore
.editorconfig
.flake8
.flitignore
.gitignore
.hadolint.yaml
.markdownlint.yaml
Dockerfile
Makefile
node_modules
package-lock.json
package.json
sonar-project.properties
vite.config.js