<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        {{ _('%(seedboxsync)s by %(author)s under %(license)s.', seedboxsync='<strong ><a href="https://llaumgui.github.io/seedboxsync/">SeedboxSync</a></strong>' | safe,
                                                                    author='<a href="https://blog.kulakowski.fr">Guillaume Kulakowski</a>' | safe,
                                                                    license='<a href="https://opensource.org/license/gpl-2-0">GPLv2</a>'| safe ) }}
      </p>
    </div>
  </div>
</footer>