{% extends 'base.html' %}

{% block header %}
  <h1 class="title is-invisible">{% block title %}Homepage{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="content">
  <h2>Last torrents uploaded</h2>
  <p class="is-italic">List of last torrents uploaded from the NAS to the seedbox.</p>

  <div x-data="tablePaginedComponent('{{ url_for('api.uploads') }}?limit=1000')">
    <div x-show="loading"><i class="fas fa-spinner fa-spin"></i> Loading...</div>
    <div x-show="error" class="notification is-danger"><i class="fas fa-triangle-exclamation"></i> An error has occurred.</div>
    <div x-show="!loading && !error && data.length === 0" class="notification is-warning"><i class="fas fa-inbox"></i> No files uploaded yet...</div>

    <table x-show="data.length > 0" class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Sent</th>
        </tr>
      </thead>
      <tbody>
        <template x-for="row in paginatedData" :key="row.id || row.key">
          <tr>
            <td x-text="row.id"></td>
            <td x-text="row.name"></td>
            <td x-text="row.sent"></td>
          </tr>
        </template>
      </tbody>
    </table>

    <!-- Pagination controls -->
    <nav class="pagination is-right" role="navigation" aria-label="pagination">
      <a href="#" class="pagination-previous"  :class="{ 'is-disabled': page === 1 }" @click.prevent="if(page>1) page--">Previous</a>
      <a href="#" class="pagination-next"  :class="{ 'is-disabled': page === totalPages }"   @click.prevent="if(page<totalPages) page++">Next</a>
      <ul class="pagination-list">
        <template x-for="pObj in visiblePages" :key="pObj.page ?? Math.random()">
          <li>
            <a href="#" class="pagination-link" :class="{ 'is-current': page === pObj.page, 'is-disabled': pObj.isEllipsis }" @click.prevent="if(!pObj.isEllipsis) page = pObj.page" x-text="pObj.isEllipsis ? '…' : pObj.page"></a>
          </li>
        </template>
      </ul>
    </nav>
  </div>

</div>
{% endblock %}
